
.side-drawer {
  position: fixed;
  width: 280px;
  /* So on super narrow device, the side-drawer doesn't go out of screen */
  max-width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: white;
  padding: 32px 16px;
  transition: transform 0.3s ease-out;
}
.side-drawer-logo-box {
  height: 11%;
  margin-bottom: 2rem;
}
@media (min-width: 500px) {
  .side-drawer {
    display: none;
  }
}

.side-drawer-open {
  transform: translateX(0);
}
.side-drawer-close {
  transform: translateX(-100%);
}