
.navigation-items {
  display: flex;
  list-style: none;
}
.navigation-items a {
  color: #8F5C2C;
  text-decoration: none;
}

.navigation-items a:hover,
.navigation-items a:active,
.navigation-items a.active {
  color: #40A4C8;
}



/* Mobile first design */
@media (min-width: 500px) {

  .navigation-items {
    display: flex;
    list-style: none;
  }
  .navigation-items a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
  }

  .navigation-items a:hover,
  .navigation-items a:active,
  .navigation-items a.active {
    background-color: #8F5C2C;
    border-bottom: 4px solid #40A4C8;
    color: white;
  }

}