
.contact-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  width: 80%;

  border: 1px solid #d7d5d5;
  box-shadow: 0 2px 3px #cccccc;
}
.contact-data-container h4 {
  margin: 1rem 0;
}
.contact-data-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-data-container input,
.contact-data-container select {
  display: block;
  width: 400px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

.contact-data-container .my-btn {
  margin: 1rem 0;
}

.input-alert {
  width: 500px;
}

.alert-danger {
  color: #842029 !important;
}